.intro {
  margin-top: 244px;
  padding-bottom: 200px;
  overflow: hidden;

  &__inner {
    position: relative;
  }

  &__title {
    text-transform: uppercase;
    position: absolute;
    right: 50px;
    bottom: 0;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 90px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #eb1616;

    & > span {
      color: #fff;
    }
  }
}
.intro__circle {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}

.intro__circle:nth-child(1) {
  top: 0;
  left: 5%;
  background-color: #1f26d8;
  width: 162px;
  height: 162px;
}

.intro__circle:nth-child(2) {
  bottom: 0;
  left: 10%;
  background-color: #eb1616;
  width: 106px;
  height: 106px;
}
.intro__circle:nth-child(3) {
  top: 25%;
  right: 5%;
  width: 57px;
  height: 57px;
  background-color: #eb1616;
}

.intro__crossover {
  transform: translateY(-50px);
  display: flex;
  justify-content: flex-end;

  &-content {
    max-width: 411px;
  }
  & > div > h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000000;
  }

  & > div > p {
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
  }
}
.intro__slider {
  padding-bottom: 0;
}

.intro__slide-index-content {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.intro__slide-index {
  margin-right: 0 !important;
}

.intro__slide-index > p {
  font-weight: bold;
  color: #000000 !important;
}

.intro__slide-index > span {
  background-color: #000000 !important;
}

@media screen and (max-width: 1200px) {
  .intro__title {
    font-size: 70px;
  }
  .intro__crossover {
    transform: translateY(0);
  }
}

@media screen and (max-width: 996px) {
  .intro__title {
    right: 0;
    font-size: 50px;
  }
  .intro__slider {
    padding-bottom: 100px;
  }
  .intro__slide-index-content {
    bottom: 0;
  }
}

@media screen and (max-width: 927px) {
  .intro__circle:nth-child(1) {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 809px) {
  .intro__crossover {
    margin-top: 40px;
  }
  .intro__circle:nth-child(1) {
    left: 0;
  }
  .intro__circle:nth-child(2) {
    left: 0;
    width: 50px;
    height: 50px;
  }
  .intro__circle:nth-child(3) {
    right: 0;
    width: 27px;
    height: 27px;
  }
}

@media screen and (max-width: 548px) {
  .intro {
    margin-top: 80px;
    padding-bottom: 80px;
  }
  .intro__title {
    font-size: 7vw;
    color: #fff;

    & > span {
      margin: 0 5px;
    }
  }
  .intro__circle:nth-child(1) {
    left: 0;
    width: 60px;
    height: 60px;
  }
  .intro__circle:nth-child(2) {
    bottom: 25%;
    right: 0;
  }
  .intro__circle:nth-child(3) {
    top: 10%;
  }

  .intro__crossover {
    text-align: center;
  }
}
